body {
    padding-top: 0px;
    background: url(main.jpg);
    background-repeat: no-repeat;
    background-color: #EEE;
    background-position: center;
    background-attachment:fixed;
    background-size: 100%;
}
@media (max-width: 980px) {
    body {
        padding-top: 0px;
        background-repeat: no-repeat;
        background-color: #EEE;
        background-position: center;
        background-attachment: fixed;
        background-size: 100%;
    }
}
@media (max-width: 980px){
    .navbar .navbar-brand, .navbar i {
        font-size: 1rem;
    }
}
.body-content{
    padding-top: 100px;
}
.overlay {
    background: rgba(244, 244, 244, 0.5);
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
}
.frontPageHeading{
    background: url(mainForum.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    position: relative;
    border: 2px solid white;
    border-radius: 0px 0px 5px 5px;
}
.frontPageText p{
    color: black;
    text-shadow: 10px 8px 2px #333;
    font-family: 'Kurale', 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-style:italic;
}
.frontPage{
    background-color: black;
    border: 1px solid white;
    border-radius: 5px 5px 0px 0px;
}
.frontPage h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}
.frontPage .frontPageSearch {
        padding-top: 10px;
        padding-bottom: 10px;
}
.frontPageText {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 10vh;
    text-transform: uppercase;
}
.subTitle {
    background-color: #343a40;
    display: table-cell;
    vertical-align: middle;
}
.forumTitle a{
    font-size: 20px;
    font-weight: 400;
}
.forumHeading{
    background-color: black;
    border: 1px solid white;
    padding: 1rem 1rem;
}
#forumIndexTable{
    border: 1px solid white;
    border-radius: 5px;
}
.forumTitle{
    display: inline;
    float: left;
}
.Logo{
    display: inline;
    float: left;
    border-radius: 3px;
    border: 1px solid #555;
    height: 40px;
    width: 40px;
    background-size: 100%;
    background-color: #ddd;
}
.forumTitle span{
    padding-left: 10px;
}
.forumName{
    padding-top: 10px;
    padding-left: 50px;
}
small{
    font-size: 80%;
    text-align: center;
}
.subTitle a{
    color: indianred;
}
.subTitle span{
    font-size: 12px;
    padding-left: 20px;
}
span, p, i, h1, h2, h3, h4, h5, h6 {
    color: white;
}
table{
    border: 2px solid #000000;
    border-radius: 5px;
}
.forumPageTable .row .forumDescription{
    color: white;
 }
.forumPageTable .row .postsInside, .dateCreated {
    color: rgba(255,255,255,.5);
}
#topicHeading{
    padding-left: 20px;
    padding-right: 0;
    padding-top: 20px;
    background-color: #000000;
    border: 1px solid white;
}
#topicHeading p{
    margin-bottom: 0px;
}
#topicHeading hr {
        border: none;
        margin-top: 0;
        margin-bottom: 0;
        border-top: 2px solid white;
        margin-right: 20px;
}
#topicHeading h2 {
    padding-left: 50px;
}
.buttonSearch{
    padding: 0 !important;
    margin-bottom: 5px;
}
.createPostHeading{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 50px;
    border: 1px solid white;
}
.createPostHeading hr {
        border: none;
        margin-top: 0;
        margin-bottom: 0;
        border-top: 2px solid white;
        margin-right: 20px;
}
.createPostBody{
    background-color: white;
    border: 1px solid white;
}
.createPostBody h4{
    padding-left: 10px;
    padding-top: 10px;
}
.postHeading{
    margin-top: 20px;
    background-color: black;
    height: 100px;
    border: 1px solid white;
    border-radius: 5px 5px 0px 0px;
}
.postHeading .backBtn{
    position: relative;
    float: right;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.noPost{
    text-align: center;
}
.searchBar{
    transition: ease .3s;
    margin-bottom: 10px;
    background-color: #333;
}
.searchForm input::placeholder{
    color: white;
}
.searchBar:focus{
    background-color: #fff;
    color: black;
    width: 80%;
}
.postReplyPage, .forumsPage, .frontPageImage, .searchView, .profilePage, .replyPage, .loginPage, .topicPage, .createPostPage, .registerPage, .usersPage, .fronPageImage {
    padding-top: 0;
}
@media (max-width: 980px) {
    .postReplyPage, .forumsPage, .frontPageHeading, .searchView, .profilePage, .replyPage, .loginPage, .topicPage, .createPostPage, .registerPage, .usersPage, .fronPageImage {
        padding-top: 132px;
    }
}
.postReplyPage .postBody{
    background-color: white;
    border-radius: 5px;
}
.postReplyPage .postBody .col-md-3{
    border-right: 1px solid black;
}
.replyBody {
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}
.postAuthor{
    padding-bottom: 10px;
    padding-top: 10px;
    
}
.noReplies {
    text-align: center;
}
#latestPostTable{
    border: 1px solid white;
}
.profileHeading{
    background-color: black;
    border: 1px solid white;
    padding-bottom: 50px;
    padding-top: 30px;
}
.profilePage hr{
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid white;
}
.profileDetails{
    background-color: white;
    padding: 20px;
}
.profileDetails span{
    color: black;
}
.profileIconColumn {
    background-color: white;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 5px 0px 0px 5px;
}
.profileIcon{
    vertical-align: middle;
    padding-left: 70px;
    padding-top: 30px;
}
.profileColumn {
    padding-left: 0px;
    border-left: 1px solid black;
    padding-right: 0px;
    border-radius: 0px 5px 5px 0px;
}
.registerPageHeading {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 50px;
    border: 1px solid white;
}
.registerPageHeading hr {
        border: none;
        margin-top: 0;
        margin-bottom: 0;
        border-top: 2px solid white;
        margin-right: 20px;
}
.registerPageBody h4 {
    padding-left: 10px;
    padding-top: 10px;
}
.registerPageBody {
    background-color: white;
    border: 1px solid white;
}
.loginPageTitle {
    background-color: black;
    border: 1px solid white;
    padding-bottom: 50px;
    padding-top: 30px;
}
.loginPageTitle hr {
        border: none;
        margin-top: 0;
        margin-bottom: 0;
        border-top: 2px solid white;
}
.loginPageBody{
    background-color: white;
    border: 1px solid black;
   border-radius: 5px;
}
#socialLoginForm, h4{
    color: black;
}
.loginFirstColumn, .loginSecondColumn{
    padding-top: 15px;
}
.replyPageheading {
    background-color: black;
    border: 1px solid white;
    padding-bottom: 50px;
    padding-top: 30px;
}
.replyPageheading hr {
        border: none;
        margin-top: 0;
        margin-bottom: 0;
        border-top: 2px solid white;
}
.postReplyContent {
    background-color: #343a40;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.postReplyContent h5{
    padding-left: 30px;
    padding-top:10px;
    padding-bottom: 10px;
}
.postReplyForm{
    background-color: ghostwhite;
    padding-left: 20px;
    padding-right: 20px;
}
.postReplyForm h4{
    margin-bottom: 0px;
    margin-top: 5px;
}
.replyInputColumn{
    padding-left: 0px;
    padding-right: 0px;
}
.postReplyBody{
    border: 1px solid black;
    border-radius: 5px;
}
.usersPageHeading {
    background-color: black;
    border: 1px solid white;
    padding-bottom: 50px;
    padding-top: 30px;
}
.usersPageHeading hr {
        border: none;
        margin-top: 0;
        margin-bottom: 0;
        border-top: 2px solid white;
}
.usersPageBody {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.editDelete{
    position: relative;
    margin-top: 10px;
}